.App {
  background-color:#f7f7f7;
  background-image: url("background.jpg");
  height: 100%;
}

h1{
  margin: 0;
  padding: 1em;
  color:white;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 15%;
}

.App-link {
  color: #09d3ac;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 85%;
}

.nav-container {
  background: rgba(10,34,52, 0.8);

}

a{
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ol{
  text-decoration: none;
}

.blog-container {
  background: rgba(255,255,255, 0.7);
}

footer{
  color: rgb(255,255,255);
  margin: 1em;
}

.blog-post{
  margin:1em 1em 0em 1em;
  background: rgba(255,255,255, 0.8);
  display: grid;
  grid-template-columns: 1fr 3fr;
}


img {
  width:150px;
  height: 150px;
  margin:1.5em;
  
}